# Managed by Ansible

MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_password }}

{% set srv_port = minio_server_port | default('9000') %}
{% set console_port = minio_console_port | default('9001') %}
{% set scheme = minio_scheme | default('http') %}
{% set cluster_mode = minio_cluster_mode | default('Single Instance') %}
{% set cluster_nodes = minio_server_cluster_nodes | default([]) %}

MINIO_OPTS="--address :{{ srv_port }} --console-address :{{ console_port }}"

{# 1. Если нам уже посчитали узлы кластера (build_cluster_nodes.yml), то берём ИХ #}
{% if cluster_mode == 'High Availability' and cluster_nodes | length > 0 %}
MINIO_VOLUMES="{{ cluster_nodes | join(' ') }}"

{# 2. Если HA, но список не посчитали, строим по groups #}
{% elif cluster_mode == 'High Availability' %}
{% set hosts = groups[minio_cluster_nodes_group] | default(ansible_play_hosts_all) %}
{% set mounts = minio_server_datadirs | default([]) %}
{% if mounts | length == 0 %}
{% set mounts = ['/app/d1'] %}
{% endif %}
{% set eps = [] %}
{% for h in hosts %}
  {% set ip = hostvars[h].ansible_host
               | default(hostvars[h].ansible_default_ipv4.address)
               | default(h) %}
  {% for m in mounts %}
    {% set _ = eps.append(scheme ~ '://' ~ ip ~ ':' ~ srv_port ~ m) %}
  {% endfor %}
{% endfor %}
MINIO_VOLUMES="{{ eps | join(' ') }}"

{# 3. Обычный одиночный режим #}
{% else %}
{% set datadirs = minio_server_datadirs | default(['/app/d1']) %}
MINIO_VOLUMES="{{ datadirs | join(' ') }}"
{% endif %}
