# Managed by Ansible

MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_password }}

{% set srv_port = minio_server_port | default('9000') %}
{% set console_port = minio_console_port | default('9001') %}
{% set scheme = minio_scheme | default('http') %}
{% set cluster_mode = minio_cluster_mode | default('Single Instance') %}
{% set cluster_nodes = minio_server_cluster_nodes | default([]) %}

MINIO_OPTS="--address :{{ srv_port }} --console-address :{{ console_port }}"

{% if cluster_mode == 'High Availability' and cluster_nodes | length > 0 %}
MINIO_VOLUMES="{{ cluster_nodes | join(' ') }}"

{% elif cluster_mode == 'High Availability' %}
{% set hosts = groups[minio_cluster_nodes_group | default('node')] | default(ansible_play_hosts_all) %}
{% set eps = [] %}
{% for h in hosts %}
  {% set ip = hostvars[h].ansible_host
               | default(hostvars[h].ansible_default_ipv4.address)
               | default(h) %}
  {% set datadirs = hostvars[h].minio_server_datadirs | default(['/app/d1']) %}
  {% for d in datadirs %}
    {% set _ = eps.append(scheme ~ '://' ~ ip ~ ':' ~ srv_port ~ d) %}
  {% endfor %}
{% endfor %}
MINIO_VOLUMES="{{ eps | join(' ') }}"

{% else %}
{% set datadirs = minio_server_datadirs | default(['/app/d1']) %}
MINIO_VOLUMES="{{ datadirs | join(' ') }}"
{% endif %}
