[Unit]
Description=MinIO Object Storage
Documentation=https://min.io/docs/minio/linux/index.html
After=network-online.target local-fs.target
Wants=network-online.target local-fs.target

[Service]
Type=simple
User={{ minio_user }}
Group={{ minio_group }}
EnvironmentFile={{ minio_server_envfile }}
ExecStartPre=/usr/bin/env sh -c 'grep -q "^MINIO_VOLUMES=" {{ minio_server_envfile }} || (echo "Error: MINIO_VOLUMES is not set in {{ minio_server_envfile }}"; exit 1)'
ExecStart={{ minio_bin_path | default('/usr/bin/minio') }} server $MINIO_OPTS $MINIO_VOLUMES
Restart=always
RestartSec=5
LimitNOFILE=655350
LimitNPROC=65535
TasksMax=infinity
NoNewPrivileges=true
ProtectProc==default

[Install]
WantedBy=multi-user.target
