# /etc/default/minio

# Credentials
MINIO_ROOT_USER={{ minio_config.minio_root_user | default(minio_root_user) }}
MINIO_ROOT_PASSWORD={{ minio_config.minio_root_password | default(minio_root_password) }}

# Addresses
MINIO_OPTS="--address :{{ minio_config.minio_server_port | default(minio_server_port | default(9000)) }} \
 --console-address :{{ minio_config.minio_console_port | default(minio_console_port | default(9001)) }}"

# Volumes:
{% if minio_config.minio_cluster_mode is defined and minio_config.minio_cluster_mode == 'High Availability' %}
MINIO_VOLUMES="{{ minio_volumes_ha }}"
{% else %}
MINIO_VOLUMES="{{ minio_server_datadirs | join(' ') }}"
{% endif %}
